<main class="mdl-layout__content">
    <!-- Accent-colored raised button -->
    <button data-btn="weather" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        날씨
    </button>
    <div data-view="weather"></div>
</main>